.menuPanel.active {
	z-index:1;
	position: absolute;
	top: 5vh;
	left: 65%; right: 0%;
	height: 100vh;
	opacity: 1;
	background-color: #ebf5ff;
	transition-duration: 0.4s;
}

.menuPanel {
	z-index:1;
	position: absolute;
	top: 5vh;
	left: 100%; right: 0%;
	height: 100vh;
	opacity: 1;
	transition-duration: 0.4s;
}