/*---------- NAVIGATION BARRE ----------------*/
.navbar {
	position: fixed;
	z-index: 1;
	top: 0vh;
	bottom: 95vh;
	width: 100%;
	opacity: 1;
	background-color: #ebf5ff;
}
.navbar.active {
	background-color: #171f2b;
}

/*-------------- HOME ------------*/
.homeImg {
	position: absolute;
	top: 0vh;
	left: 0vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
.homeImg:hover {
	cursor: pointer;
	background-color: #c1cbd9;
}


/*-------------- SEARCH ------------*/
.loupeImg {
	position: absolute;
	top: 0vh;
	right: 5vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
.loupeImg:hover {
	cursor: pointer;
	background-color: #c1cbd9;
}

/*-------------- MENU ------------*/
.menuImg {
	position: absolute;
	top: 0vh;
	right: 0vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
.menuImg:hover {
	cursor: pointer;
	background-color: #c1cbd9;
}