/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
	    margin-left:auto;
    margin-right:auto;
}

html {
	height: 100%;
}


/*----------- ARRIERE PLAN ------------------*/
.background {
	background-image: url("images/bg_home.png");
	margin-top: 100px;
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/*--------- IMAGES ACCUEIL ----------------*/
#homeImages {
	position: absolute;
	top: 10vh;
	left: 20vh;
	right: 20vh;
	bottom: 20vh;
}
img.logo {
	display: block;
	margin: 10vh auto;
	width: 49%;
	opacity: 0;
}
img.separation {
	display: block;
	margin: 0 auto;
	width: 50%;
	opacity: 0;
	filter: brightness(1);
	cursor: pointer;
}
img.separation:hover {
	filter: brightness(0.5);
	cursor: pointer;
}

/*------------- PRESENTATION --------------*/
#presentation {
	position: relative;
	top: 10vh;
	height: 1200px;
}

#stickyImg {
	position: sticky;
}
img.presentationImg {
	max-width: 100%;
	max-height: 100%;
	opacity: 0;
}

p.textePres {
	display: inline;
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 60pt;
}